/*Styles for recipe index*/
* {text-align: center; font-family: 'Courier New', Courier, monospace;}

button {background-color: rgb(224, 223, 228); color: rgb(255, 255, 255);  font-size: 32px;}
button:hover {background-color: #0000ff80}

h1 {color: #0000ff80; font-weight: 1000; font-size: 38px;}

.flex-container { display: flex; justify-content: space-around; align-items: center;}

img {margin:80px; border: 12px solid #0000ff80;}


/*Styles for recipe pages*/
