
* {
    text-align: center; 
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: rgb(224, 223, 228); 
    color: rgb(255, 255, 255);  
    font-size: 32px;
}
button:hover {
    background-color: #0000ff80
}
h1 {
    color: #0000ff80; 
    font-weight: 1000; 
    font-size: 48px;
    margin: 20px;
    margin-top:80px;
    border-style:groove;
    border-width: thick;
    display: inline-block;
    padding:25px;
}
.flex-item {
    display: flex;
    align-items: center;
    flex-direction:column;
    flex:1;
}
.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
img {
    margin:80px;
    padding:12px;
    border: 12px solid #0000ff80;
}
#name {
    margin-bottom: 80px;
}





